<%= form_for @faker, :url => fakers_path do |f| %>
    <%= f.label :api, "api" %>
    <%= f.text_field :api %>

    <%= f.fields_for @apiPrototype do |prototype_form| %>
        <p>
        <%= prototype_form.label :prototype, "prototype text" %>
        <%= prototype_form.text_area :prototype %>
        </p>
    <% end %>

    <%= f.submit "Create" %>
<% end %>

<%= link_to "back to list", fakers_path %>
