<!DOCTYPE html>
<html>
<head>
  <title>ApiFaker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="code_styles/default.css">
  <script src="highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>

<%= yield %>

</body>
</html>
